<div class="container py-4">
    <div class="p-5 mb-4 bg-dark rounded-3">
        <div class="container-fluid py-5">
            <div class="row align-items-start">
                <div class="col">
                    <h2 style = "color: white"> <strong> <%= @movie.title %> </strong> </h2>
                    <br>
                    <p style = "color: white"> <strong>Description:</strong> </p>
                    <div class="card">
                        <div class="card-body bg-dark">
                            <p style = "color: white"> <%= @movie.description %> </p>
                        </div>
                    </div>
                    <br>
                    <div class="card bg-dark">
                        <p style = "color: white">
                            <strong>Director:</strong>
                            <%= @movie.director %>
                        </p>
                        <p style = "color: white">
                            <strong>Genre:</strong>
                            <%= @movie.genre %>
                        </p>
                        <p style = "color: white">
                            <strong>Movie length:</strong>
                            <%= @movie.movie_length %>
                        </p>
                        <p style = "color: white">
                            <strong>Rating:</strong>
                            <%= @movie.rating %> / 10
                        </p>
                    </div>

                    <%= link_to 'Edit', edit_movie_path(@movie) %>
                </div>
                <div class="col">
                    <%= image_tag(@movie.image) %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="card bg-dark">
        <h3 class="card-header" style = "color: white">Reviews</h3>
        <div class="card-body">
            <% if @reviews.blank? %>
                <h4 style = "color: white">No Reviews Yet</h4>
                <br>
            <% else %>
                <% @reviews.each do |r| %>
                    <% if current_user.id == r.user_id%>
                        <% break %>
                    <% end %>
                    <% if r == @reviews.last() %>
                        <%= link_to 'Write a review', new_movie_review_path(@movie), class:"btn btn-warning btn-lg" %>
                        <br>
                        <br>
                    <% end %>
                <% end %>
                <% @reviews.each do |r| %>
                    <div class="card">
                        <div class="card-header">
                            <h4>Review By: <%= r.user_id %> </h4>
                            <a>
                            <% if current_user.id == r.user_id %>
                                <%= link_to "Edit review", edit_movie_review_path(@movie, r)%>
                            <% end %>
                            </a>
                        </div>
                        <div class="card-body bg-dark">
                            <blockquote class="blockquote mb-0" style="color: white">
                            <h5>Rating: <%= r.rating %> / 10 </h5>
                            <p><%= r.comment %></p>
                            </blockquote>
                        </div>
                    </div>
                    <br>
                <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>