<div class="container py-4">
    <div class="p-5 mb-4 bg-dark rounded-3">
        <div class="container-fluid py-5">
            <div class="row align-items-start">
                <div class="col">
                    <h2 style = "color: white"> <strong> <%= @movie.title %> </strong> </h2>
                    <br>
                    <p style = "color: white"> <strong>Description:</strong> </p>
                    <div class="card">
                        <div class="card-body bg-dark">
                            <p style = "color: white"> <%= @movie.description %> </p>
                        </div>
                    </div>
                    <br>
                    <div class="card bg-dark">
                        <p style = "color: white">
                            <strong>Director:</strong>
                            <%= @movie.director %>
                        </p>
                        <p style = "color: white">
                            <strong>Genre:</strong>
                            <%= @movie.genre %>
                        </p>
                        <p style = "color: white">
                            <strong>Movie length:</strong>
                            <%= @movie.movie_length %>
                            hrs.
                        </p>
                        <%= render "rating", movie: @movie%>
                    </div>
                    <% if user_signed_in? %>
                        <%= link_to 'Edit', edit_movie_path(@movie) %>
                    <% end %>
                </div>
                <div class="col">
                    <%= image_tag(@movie.image, class: "image-cover") if @movie.image.present? %>
                </div>
            </div>
        </div>
    </div>
</div>
    <%= render "list_reviews" %>
<br>
<br>