<div class="card text-center bg-dark">
    <div class="card-header" style = "color:white">
        <h1>Latest Movies</h1>
    </div>
    <% if @movies.length > 0 %>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <% if @movies.length > 0 %>
                        <%= link_to image_tag(@movies[-1].image, style:"width:500px; height:500px"), @movies[-1] %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5><%= @movies[-1].title%></h5>
                            <p><%= @movies[-1].rating %> / 10</p>
                        </div>
                    <% end %>
                </div>
                <div class="carousel-item">
                    <% if @movies.length > 1 %>
                        <%= link_to image_tag(@movies[-2].image, style:"width:5300px; height:500px"), @movies[-2] %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5><%= @movies[-2].title%></h5>
                            <p><%= @movies[-2].rating %> / 10</p>
                        </div>
                    <% end %>
                </div>
                <div class="carousel-item">
                    <% if @movies.length > 2 %>
                        <%= link_to image_tag(@movies[-3].image, style:"width:500px; height:500px"), @movies[-3] %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5><%= @movies[-3].title%></h5>
                            <p><%= @movies[-3].rating %> / 10</p>
                        </div>
                    <% end %>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    <% end %>
</div>