<%= form_for [@movie, @review] do |f|%>
    <%= render "movies/error_messages" %>
    <div class="field form-group" style = "color: white">
        <%= f.text_area :comment, placeholder: "Comment", class:"form-control"%>
    </div>
    <br>
    <div class="field form-group" style = "color: white">
        <label class="form-label" for="typeNumber">Rating</label>
        <%= f.text_field :rating, value:"10", type:"number", id:"typeNumber", step:"1", min:"0", max:"10", class:"form-control" %>
    </div>
    <br>
    <div class="actions">
        <%= f.submit class:"btn btn-primary" %>
    </div>
<% end %>